@model BizimBahceDatabaseWork.Models.Entities.Admin

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Adminss/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

@using (Html.BeginForm("Index", "AdminProfile", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Mail)
        @Html.TextBoxFor(m => m.Mail, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.About)
        @Html.TextBoxFor(m => m.About, new { @class = "form-control" })
    </div>    
    
    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
    </div>

    <div>
        <button class="btn btn-warning"> Admin Güncelle </button>
    </div>

}
